<div id='footer'>
    <table width="100%" cellspacing="0" cellpadding="10">
        <tr>
            <td valign='top'>
                <div>
                <p class="yellow_txt">Address:</p>
                <p>19 Compton Terrace,</p>
                <p>London, N1 2UN</p>
                <p class="yellow_txt">Telephone:</p>
                <p>0207 359 0059</p>
                <p class="yellow_txt">Nearest tube:</p>
                <p>Highbury & Islington, Victoria Line</p><br>
                </div>
            </td>
            <td align='right'>
                <div>
                <a href="{{FRONTEND_URL}}/send_email" class="footer_icons"><img src='{{API_BASE_URL}}/static/images/email.png'></a>
                <a href="https://www.instagram.com/newacropolisuk/" class="footer_icons"><img src='{{API_BASE_URL}}/static/images/instagram.png'></a>
                <a href="https://www.facebook.com/newacropolisuk/" class="footer_icons"><img src='{{API_BASE_URL}}/static/images/facebook.png'></a>
                <a href="https://www.youtube.com/user/nuevacropolisin/featured" class="footer_icons"><img src='{{API_BASE_URL}}/static/images/youtube.png'></a>
                </div>
            </td>
        </tr>
    </table>
</div>
