<div id='footer'>
    <table width="100%" align="center" cellpadding="10" cellspacing="0">
    <tr>
        <td align="center">
            <div>
                <table class="msoFix" width="60%" cellpadding="0" cellspacing="0" align="left">
                <tr>
                    <td width="15">&nbsp;</td>
                    <td width="100%" style="padding: 0px;">&nbsp;<br>
                        <div>
                        <p class="yellow_txt">Address:</p>
                        <p>19 Compton Terrace,</p>
                        <p>London, N1 2UN</p>
                        <p class="yellow_txt">Telephone:</p>
                        <p>0207 359 0059</p>
                        <p class="yellow_txt">Nearest tube:</p>
                        <p>Highbury & Islington, Victoria Line</p><br>
                        </div>
                    <br>&nbsp;<br>&nbsp;
                    </td>
                    <td width="15">&nbsp;</td>
                </tr>
                </table>

                <table class="msoFix" width="250" cellpadding="0" cellspacing="0" align="left">
                <tr>
                    <td width="15">&nbsp;</td>
                    <td width="290" style="padding: 0px;">&nbsp;<br>
                        <div>
                        <a href="{{FRONTEND_URL}}/send_email" class="footer_icons"><img src='{{API_BASE_URL}}/static/images/email.png'></a>
                        <a href="https://www.instagram.com/newacropolisuk/" class="footer_icons"><img src='{{API_BASE_URL}}/static/images/instagram.png'></a>
                        <a href="https://www.facebook.com/newacropolisuk/" class="footer_icons"><img src='{{API_BASE_URL}}/static/images/facebook.png'></a>
                        <a href="https://www.youtube.com/user/nuevacropolisin/featured" class="footer_icons"><img src='{{API_BASE_URL}}/static/images/youtube.png'></a>
                        </div>
                    </td>
                    <td width="15">&nbsp;</td>
                </tr>
                </table>
            </div>
        </td>
    </tr>
    </table>
</div>
