# vs code user settings
.vscode

# bin files
*.pyc

# log files
logs/*.log*

# test resources
*.xml
.coverage

# venv
venv

# cache
.cache

# environment
environment.sh
env.sh

# mac os
.DS_Store

# secrets
*_rsa
*.pub
client-secret.json
credentials.tar.gz

# notes
*.notes