{% extends "base.html" %}
{% block title %}Events{% endblock %}
{% block extra_head%}
    <style>
        .event_box {
            border:darkgray 1px solid;
            background-color: #f8faf3;
            width:90%;
            margin-bottom:70px;
            padding:10px;
            margin: auto;
        }
        .event_text {
            font-size: 15px;
        }
        #event_image {
            box-shadow:0px 0px 10px gray;
            min-width: 200px;
        }
    </style>
{% endblock %}

{% block content %}

<div>
    <h3 style='text-align: center;'>
        {{ event_dates }}
    </h3>
    <div class='event_box'>
        <table width="100%" cellspacing="0" cellpadding="10">
            <tr>
                <td valign='top'>
                    <div class='event_text'>
                        <h4>{{ event.event_type.event_type|upper }}: {{ event.title|safe }}</h4>
                        <div>{{ description|safe }}</div>
                        {{extra_txt|safe}}
                        <div class='font-weight-bold mt-2'>ADMISSION &pound;{{ event.fee }} (Concession &pound;{{ event.conc_fee }})</div>
                        {{details|safe}}
                    </div>
                </td>
                <td>
                    <img id='event_image' src='{{IMAGES_URL}}{{event.image_filename}}' class='img-fluid'>
                </td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
